<div class="row d-flex justify-content-center pt-5 text-center ">
    <div class="col-md-6">
        <pagination-controls (pageChange)="handlePageChanged($event)"></pagination-controls>
    </div>
</div>

<div class="container">
    <div class="row">

        <label class="font-weight-bolder">Page Size:</label>

        <div class="col-md-2 mr-auto">

            <select class="custom-select" (change)="selectChangeHandler($event)">
                <option value="2" selected>2</option>
                <option value="5">5</option>
                <option value="15">15</option>
                <option value="25">25</option>
            </select>

        </div>

    </div>
</div>


<table class="table table-dark table-bordered w-75 mx-auto mt-5 ">
    <thead>
        <tr class="text-light bg-secondary font-weight-bolder">
            <th scope="col">nationalityId</th>
            <th scope="col">nationalityNameAr</th>
            <th scope="col">nationalityNameEn</th>
            <th scope="col">nationalityName</th>
            <th scope="col">action</th>

        </tr>
    </thead>
    <tbody>
        <!-- *ngFor="let user of datal | paginate: { itemsPerPage: ipg, currentPage: page, totalItems:totalLength }" -->
        <tr
            *ngFor="let user of datal | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems:totalLength }">
            <td>{{user.nationalityId}}</td>
            <td>{{user.nationalityNameAr}}</td>
            <td>{{user.nationalityNameEn}}</td>
            <td>{{user.nationalityName}}</td>
            <td>
                

                     <!-- #editnote -->
                     <a class="dropdown-item d-flex justify-content-between text-info font-weight-bolder" data-toggle="modal"
                     data-target="#edit" (click)="update(user.nationalityId)">Edit <span
                         class="text-secondary ml-3"><i class="fas fa-edit"></i></span></a>
                         <!-- ;setValue() -->

                    <!-- #deletenote -->
                    <a class="dropdown-item d-flex justify-content-between text-danger font-weight-bolder" data-toggle="modal"
                        data-target="#delete" (click)="getId(user.nationalityId)">Delete <span class="text-danger ml-3"><i
                                class="fas fa-trash-alt"></i></span>
                    </a>


              
            </td>
        </tr>

    </tbody>
</table>


 <!--pop up ------------ delete note modal ----------------  -->
    <!-- #deletenote -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you Sure ? </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-info font-weight-bolder">
                    <p> Do you really want to delete ? <br> process cannot be undone </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


<div class="row d-flex justify-content-center py-3 text-center">
    <div class="col-md-6">
        <pagination-controls (pageChange)="handlePageChanged($event)"></pagination-controls>
    </div>
</div>